<div id="purchases", class="container w-100 d-flex flex-column">
  <%if @purchases.empty? %>
    <p>
      You can add purchases by clicking the button
    </p>
  <%end%>
  <% @purchases.each do |purchase| %>
    <%= link_to category_purchases_path(purchase),class: 'text-decoration-none text-body' do %>
      <%= render purchase %>
    <%end%>
  <% end %>
  <%= link_to "Add purchase", new_category_purchase_path, class: 'btn btn-success rounded-0 text-white' %>
</div>
