<div id="<%= dom_id category %>">
  <div class="card my-1">
    <%= image_tag category.icon, alt: category.name %>
    <div class="card-body">
      <div class="card-text row">
        <div class="col">
          <h5 class="card-title">
            <%=category.name%>
          </h5>
        </div>
        <p><%=category.total%></p>
      </div>
    </div>
  </div>

</div>
