
<div id="categories", class="container w-100 d-flex flex-column">
  <%if @categories.empty? %>
    <p>
      You can add categories by clicking the button
    </p>
  <%end%>
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <%= render category %>
    <%end%>
  <% end %>
  <%= link_to "Add Category", new_category_path, class: 'btn btn-success rounded-0 text-white' %>
</div>

